.nav-link {
    font-size: small;
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    text-align: left;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: orange;
}